/*
    - GRID GARDEN..

        - Um site para praticar/treinar e colocar em prática tudo o que você aprendeu nas aulas. Nesse site você irá receber varios desafios utilizando o DISPLAY-GRID. 

            - Site: https://cssgridgarden.com/
    
*/