/*
    FLEX DIRECTION

        Flex Diretion tem quatro propriedades.

            - Row - Em linha.
            - Row-reverse - Em linha, mas de trás para frente.
            - Column - Em coluna.
            - Column-reverse - Em coluna, mas de baixo para cima.
        
        Por padrão, ele já começa com ROW / Em linha.
        
*/